@import "tailwindcss";

/* Transiciones suaves para cambios de tema */
* {
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

html {
  scroll-behavior: smooth;
}

/* Estilo para scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-teal-500 dark:bg-teal-600 rounded-full;
}
